#wrapIcon {
  background-color: yellow;
  color: black;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pid {
  margin: 0%;
}