
// Font Setting
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap');
$IBM: 'IBM Plex Sans KR', sans-serif;

// Color Setting
$bgColor: #F5F7F9;
$white: #ffffff;
$customBlue: #4f4fff